@import "../../style/default";

.card-wrap {
  margin-bottom: 20px;

  button {
    margin-right: 10px;
  }
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }

  .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
  }
}

.ant-carousel {

  .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;

    h3 {
      color: @colorM;
    }
  }
}

.slider-wrap .ant-carousel .slick-slide {
  height: 240px !important;
}
